@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

html {
  font-family: var(--font-outfit);
}

p {
  font-family: var(--font-satoshi);
}

/*---------------------------- General styles----------------------------- */
.flex_center {
  @apply flex items-center justify-center;
}

.wrapper {
  @apply px-4 py-0 sm:py-8 xs:px-8;
}
.wrapper2 {
  @apply px-4 py-4 sm:py-8 xs:px-8;
}
.wrapper3 {
  @apply px-4 py-8 sm:py-8 xs:px-8;
}

.single_line_toast {
  white-space: nowrap;
  width: fit-content;
  margin-right: 10px;
}
/*---------------------------- custom button----------------------------- */

.custom-btn {
  @apply w-full xs:w-auto px-8 py-2.5;
}
.custom-width-btn {
  width: 100% !important;
}
.custom_padding {
  padding-inline: 18px !important;
}
.gradient-green1 {
  @apply bg-gradient-to-r from-primary-800 to-primary-1100;
}
.gradient-green2 {
  @apply bg-gradient-to-r from-primary-1300 to-primary-1200;
}
.hover1 {
  @apply hover:from-primary-1100 hover:to-primary-1100;
}
.hover2 {
  @apply hover:from-primary-1200 hover:to-primary-1200;
}

/*---------------------------- Register ----------------------------- */
.register_input {
  @apply w-full h-[48px] p-[12px] text-sm rounded-lg border border-black focus:border-blue-600;
}
.custom-height {
  height: calc(100vh - 103px);
}
.custom_height {
  height: calc(100vh - 103px);
}
.custom_height2 {
  height: 56px !important;
}

.custom-border {
  border-color: #dff2df !important;
}

.register_step1_section {
  @apply mx-auto bg-white max-w-3xl px-6 md:px-12 lg:px-12 py-6 md:py-10 xl:py-12 mt-12 rounded-3xl;
}

.register_step2_div {
  @apply mx-auto bg-white max-w-3xl px-6 md:px-12 lg:px-10 py-6 md:py-10 xl:py-12 rounded-3xl;
}

.register_step3_div {
  @apply mx-auto bg-white max-w-3xl px-6 mt-[192px] sm:mt-0 md:px-12 py-6 md:py-10 xl:py-12 rounded-3xl;
}

.register_step4_section {
  @apply mx-auto bg-white max-w-3xl px-6 md:px-12 py-6 md:py-10 xl:py-12 mt-12 rounded-3xl;
}

/*---------------------------- Reset Password ----------------------------- */
.reset_password_div {
  @apply mx-auto bg-white max-w-3xl px-4 md:px-12 lg:px-10 pt-12 pb-6 rounded-3xl;
}

/*---------------------------- Sidebar ----------------------------- */
.sidebar_item {
  @apply flex gap-3 rounded-lg cursor-pointer hover:bg-neutral-50 transition-all duration-300;
}
.sidebar_item_active {
  @apply rounded-lg cursor-pointer bg-neutral-50 transition-all duration-300;
}
.sidebar_animation {
  @apply transition-all duration-300;
}

/*---------------------------- Navbar-dashboard ----------------------------- */
.navbar_item {
  @apply flex gap-3 rounded-lg p-3 cursor-pointer hover:bg-gradient-button;
}

/*---------------------------- TrialOverview ----------------------------- */
.trial_overview_grid {
  @apply grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(250px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(356px,1fr))] gap-6 px-4 py-8 xs:px-8 place-items-center;
}

/*---------------------------- My-trials ----------------------------- */
.my_trials_grid {
  @apply grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(250px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(356px,1fr))] gap-6 px-4 xs:px-8 pb-8 place-items-center;
}

/*---------------------------- Trial-Details ----------------------------- */
.truncate_title {
  @apply w-full h-[48px] p-[12px] text-sm rounded-lg border border-black focus:border-blue-600;
}

/*---------------------------- filter modal ----------------------------- */
.filter_modal_btn {
  @apply inline-flex items-center border border-primary-500 text-xs sm:text-sm px-2 rounded-200 mb-4 py-2 cursor-pointer active:scale-95;
}

/*---------------------------- Setting ----------------------------- */
.setting_step4_div {
  @apply bg-bgColor-100 lg:w-2/5 h-[48px] rounded-lg flex items-center pl-5 mt-2.5 mb-2;
}

/*---------------------------- LanguageDropdown ----------------------------- */
@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown_animation {
  animation: dropdownOpen 0.3s ease-out forwards;
}

/*---------------------------- Company ----------------------------- */
.not_editable_div {
  @apply bg-bgColor-100 h-[48px] rounded-lg flex items-center pl-5 mt-2.5 mb-2;
}

/*---------------------------- Text-area ----------------------------- */
.textarea_input {
  @apply w-full p-[12px] text-sm rounded-lg border border-black focus:border-blue-600;
}

/*---------------------------- Quill-Editor ----------------------------- */
/* Customize the editor's toolbar */
.ql-toolbar {
  background-color: #f3f3f3;
  border-radius: 8px;
  border: 1px solid #dff2df;
}

/* Customize the editor itself */
.ql-container {
  border: 2px solid #dff2df;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

.ql-editor {
  padding: 10px;
  font-size: 16px;
  line-height: 1.6;
  background-color: white;
  border: 1px solid #dff2df;
  border-radius: 8px;
}

.no_border {
  border: none !important;
}

/* Focused state */
.ql-container.ql-snow .ql-editor:focus {
  border: 2px solid #4272e1;
}

/* Change cursor to pointer when hovering over links */
.ql-editor a {
  cursor: pointer;
  color: #0073e6; /* Optional: Customize link color */
  text-decoration: underline;
}

.ql-editor a:hover {
  color: #005bb5; /* Optional: Customize hover color */
}

.ql-editor::before {
  color: #b6babe !important; /* Lighter gray for placeholder */
  font-style: normal !important; /* Remove italic style */
  font-size: 0.875rem !important;
}

.ql-editor h1 {
  font-size: 2rem; /* Tailwind text-3xl equivalent */
  font-weight: bold;
  margin-bottom: 1rem;
}

.ql-editor h2 {
  font-size: 1.75rem; /* Tailwind text-2xl equivalent */
  font-weight: bold;
  margin-bottom: 1rem;
}

.ql-editor h3 {
  font-size: 1.5rem; /* Tailwind text-xl equivalent */
  font-weight: bold;
  margin-bottom: 1rem;
}

.ql-editor h4 {
  font-size: 1.25rem; /* Tailwind text-lg equivalent */
  font-weight: bold;
  margin-bottom: 1rem;
}
